* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html,
body,
#root {
    background-color: #efefef;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit; 
}

.main-title-white {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0 5px 0;
    border-bottom: 5px solid #efb007;
    margin: 20px;
}

.main-title-black {
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0 5px 0;
    border-bottom: 5px solid #efb007;
    margin: 20px;
}

.btn {
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #efb007;
    cursor: pointer;
}